numpy
scipy
librosa
tqdm
pandas
torchcrepe
torchaudio
transformers
speechbrain
pytorch-lightning
omegaconf
wandb
openai-whisper
sentence-transformers
umap-learn
matplotlib
seaborn
reportlab
scikit-learn
phonemizer
